.header {
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    position: fixed;
    margin: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 998;
}

#logo {
    margin-left: 2%;
    margin-right: 2%;
}

#logo h1 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2.5vw;
    padding: 0;
    margin: 0;
}

.header-elements {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 8%;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

.header-buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-right: 2%;
    padding-left: 2%;
    height: 100%;
}

.header-button {
    font-family: var(--main-font);
    color: white;
    font-size: 1.5vw;
    background-color: var(--main-color);
    border: none;
    height: 100%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.header-button:hover {
    background-color: var(--darker-color);
    transition: 0.2s;
}

#sign-up-header {
    padding-right: 5%;
    padding-left: 5%;
    border-right: solid white;
    white-space: nowrap;
}

#log-in-header,
#log-out-header {
    padding-left: 8%;
    padding-right: 8%;
    white-space: nowrap;
}

#log-out-header {
    padding-top: 11%;
    padding-bottom: 11%;
}

#open-sidebar {
    margin-right: 3%;
}

#open-sidebar i {
    color: white;
    font-size: 1.5vw;
}

#open-sidebar button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.5vw;
    font-family: var(--main-font);
    padding-top: 10%;
    padding-bottom: 10%;
    white-space: nowrap;
}

#open-sidebar button:hover {
    background-color: var(--darker-color);
    transition: 0.2s;
}