.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    padding-top: 20px;
    color: white;
    z-index: 999;
    transition: right 0.3s;
    overflow-y: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--main-color);
    font-family: var(--main-font);
}

.sidebar-inner {
    padding-top: 5%;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
}

.sidebar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    color: white;
    font-size: 2vw;
}

.sidebar-top p {
    margin: 0.3vw;
}

#close-sidebar button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

#close-sidebar button:hover {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: var(--main-color);
}

.sidebar-buttons {
    border-top: solid white;
}

.sidebar-buttons-wrapper {
    padding-bottom: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sidebar-buttons button {
    border: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-left: 5%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 1.5vw;
    font-family: var(--main-font);
    font-weight: 500;
    display: flex;
    justify-content: left;
}

.sidebar-buttons button:hover {
    background-color: white;
    color: var(--main-color);
    margin-left: 0%;
    padding-left: 10%;
    width: 100%;
    height: 110%;
    transition: 0.2s;
}

.sidebar-buttons i {
    margin-right: 5%;
}